body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.4px !important;
  font-family: "Sono", -apple-system, BlinkMacSystemFont, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #38393a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 700;
  letter-spacing: 0.5px;
}
