.container {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
}

.header h3 {
  margin-bottom: 0px;
}

.header div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  width: 75%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid #dbdbdb;
  box-shadow: -2px -2px 2px #f2f2f2, 4px 4px 6px #bdbdbd;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table th {
  font-weight: 600;
}

.table thead tr {
  background-color: #dbdbdb;
}

.table tr {
  border-bottom: 1px solid #bbbbbb;
  height: 24px;
}
