.container {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
}

.header h3 {
  margin-bottom: 0px;
}

.header div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  width: 75%;
}
