.container {
  width: 100%;
}

.constrain_header {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table .constrain {
  display: block;
  max-height: 345px;
  overflow-y: scroll;
  overflow-x: hidden;
}

table .constrain tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

@media screen and (max-width: 510px) {
  .hide {
    display: none;
  }
}
